<nav class="breadcrumb">
  <a href="{{ .Site.BaseURL }}">Home</a>

  {{ if not .IsHome }}
    {{ if .IsSection }}
      &nbsp;&laquo;&nbsp;
      <span>{{ .Title }}</span>

    {{ else if .Section }}
      &nbsp;&laquo;&nbsp;
      {{ with .Site.GetPage "section" .Section }}
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ end }}
      &nbsp;&laquo;&nbsp;
      <span>{{ .Title }}</span>

    {{ else }}
      &nbsp;&laquo;&nbsp;
      <span>{{ .Title }}</span>
    {{ end }}
  {{ end }}
</nav>
